@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f8d7bf;
}



.textBtn {
    font-family: "Poppins";
    font-size: 1rem;
    font-weight: 400;
    border: none;
    background-color: transparent;
    padding: 0.8rem 1.2rem;
    color:#27104E ;
    
}

.fillBtn {
    font-family: "Poppins";
    font-size: 1rem;
    font-weight: 400;
    border-radius: 0.5rem;
    border: none;
    background-color: #27104E;
    color: #FCFBFF;
    padding: 0.8rem 1.2rem;
    
}

.mainHero{
    padding-top: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6rem;
    text-align: center;
    margin-top: 5%;
}

.mainHero h1{
    font-size: 50px;
}

.mainHero button{
    font-size: 50px;
}
.content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 50%;
    justify-content: center;
    align-items: center;
}



