@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&display=swap');


header h1{
    color: #F5F2FF;
    font-family: 'Poppins';
    font-size:500%;
}


body{
    font-family: 'Poppins', sans-serif;
    display: grid;
    place-items: center;
    margin-top: 10%;
}

#taskFormContainer{
    padding: 20px;
    border: solid #FCA465;
    border-radius: 10px;
    height: auto;
    width: auto;
    background-color: #F5F2FF;
}

#taskListContainer{
background-color: #fab27e;
margin: 0px 20px;
border-radius: 10px;
text-align: center;
padding: 10px;
width: auto;
padding-right:50px;
}

#taskListContainer ul{
list-style: none;
}

.task-title{
    padding: 15px 0px;
}

.description{
    padding: 15px 0px;

}
.deadline{
    padding: 15px 0px;

}

.priority{
    padding: 15px 0px;

}

.status{
    padding: 15px 0px;

}

button{
    background-color: #27104E;
    color: #F5F2FF;
    padding: 5px 10px;
    
    border-radius: 20px;
}   

.deleteBtn{
    background-color: red;
}

.editBtn{
    margin: 5px;
}
h2,h3,h4,h5,h6{
    color: #27104E;
}

